{"openapi":"3.1.0","info":{"title":"Meristem Application Management","description":"Meristem Management for managing users, agents, stocks","version":"1.0"},"servers":[{"url":"https://mrpsl-api.schulltech.com","description":"Generated server url"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Enquiry — Holder","description":"Full holder profile with historical sub-records (certificates, dividends, transfers, changes, mergers, admon, statements)"},{"name":"Holder Documents","description":"KYC documents and signature management per holder"},{"name":"Dividend Reports","description":"Generate and export dividend reports"},{"name":"Certificate Split","description":"Submit, list, approve/reject, and batch-decide certificate split requests"},{"name":"Enquiry — Shareholder Register","description":"Search and filter shareholders across all registers"},{"name":"KYC Changes","description":"Shareholder KYC update operations"},{"name":"One-Time Password (OTP) Authentication","description":"Public endpoints managing multi-factor token generation, side-channel delivery, and secondary validation checks for core session issuance"},{"name":"Document Type Parameters","description":"APIs for managing document type parameters"},{"name":"Re-Push Queue","description":"Re-submit failed/rejected dividend payments"},{"name":"Account Consolidation","description":"Merge duplicate shareholder accounts into one surviving account"},{"name":"Estate Administration (ADMON)","description":"Transfer account ownership from deceased holder to estate/executor"},{"name":"Super Admin Management","description":"Grant, revoke, list, and update super administrators. Restricted to SUPER_ADMIN."},{"name":"Role & Permission Management","description":"Secured APIs for managing user access levels, system definitions, and associated authority matrices. Restricted to SUPER_ADMIN."},{"name":"IPO Audit & Compliance Reporting","description":"APIs driving back-office report sheets including subscription distribution matrices, geopolitical regional breakdowns, allocation range slices, and direct ledger data-stream downloads"},{"name":"Approvals","description":"Maker-checker approval queue — submit, action, delegate, recall, resubmit, and batch-process approval items across all modules (Dividends, Certificates, Account Maintenance, Offers, Setup). Tiered workflow from OPS_MANAGER (Tier 2) through ICU_OFFICER → MD → CEO (Tier 4)."},{"name":"Bonus Issue Management","description":"APIs for managing bonus issue declarations"},{"name":"CSCS Transaction & Settlement Management","description":"APIs driving the central securities clearing system pipelines, including file ingestion logs, continuous settlement processing queues, and ghost-seller exception risk management workflows"},{"name":"Reports","description":"Report catalogue, execution, job tracking, and history"},{"name":"Enquiry — Certificates","description":"Search physical certificates and initiate replacement actions"},{"name":"Authentication","description":"APIs for user registration and authentication"},{"name":"Enquiry — Agents","description":"Search banks, stockbrokers, and collecting agents; view and upload agent mandates"},{"name":"Enquiry — Rights","description":"Shareholder rights entitlements and trading status"},{"name":"Password Management","description":"APIs for changing, resetting, and recovering user passwords"},{"name":"Dividend Statement","description":"Per-holder dividend history and PDF download"},{"name":"User Management","description":"Secured APIs for user discovery, profile adjustments, granular role/permission binding, and administrative account state operations. Restricted to SUPER_ADMIN."},{"name":"Audit Trail","description":"Audit trail reports across registers, certificates, dividends, and holders"},{"name":"Notifications","description":"In-app notification inbox — list, summarise, mark as read, and delete notifications. For real-time push, connect to GET /api/v1/notifications/stream (SSE)."},{"name":"Warrant Mark-Off","description":"3-tier warrant mark-off approval workflow"},{"name":"Enquiry — Warrants","description":"Cross-register warrant lookup by account number or warrant number"},{"name":"Dividend Declarations","description":"Dividend declaration lifecycle management"},{"name":"Agent Management","description":"APIs for managing external parties (Banks, Stockbrokers, Collecting Agents)"},{"name":"CSCS Data Ingestion Pipeline","description":"APIs for loading, parsing, and reconciling external archival data, master lists, and nested depository asset logs into system storage"},{"name":"Certificate Consolidation","description":"Submit, list, approve/reject, and batch-decide certificate consolidation requests"},{"name":"IPO Refund Workflow","description":"OPS → ICU dual-control refund approval for INVALID and DISAPPROVED IPO subscribers"},{"name":"Initial Public Offer (IPO) Processing","description":"APIs driving the IPO subscription pipeline including batch data ingestion, dual-control validation workflows (OPS/ICU), and final registry lodgment text file compilation"},{"name":"Rights Issue Management","description":"APIs for managing rights issue declarations"},{"name":"LGA Parameters","description":"APIs for managing Local Government Areas"},{"name":"Permission Management","description":"APIs for managing system permissions. Restricted to SUPER_ADMIN."},{"name":"State Parameters","description":"APIs for managing state parameters"},{"name":"Dividend Payment Runs","description":"Payment run lifecycle management"},{"name":"Mandate Payments","description":"New mandate dividend disbursement"},{"name":"Register Management","description":"APIs for managing registers (shareholder lists)"},{"name":"Shareholder Registry Management","description":"APIs for querying shareholder data records, performing bulk dictionary/geocoding address state lookups, and updating residency matrices"},{"name":"Offer Setup — IPO","description":"Create, list, update and open Public Offer (IPO) configurations; assign agents to an offer"},{"name":"Transaction Register","description":"CRUD operations for the transaction register"},{"name":"Caution Reason Parameters","description":"APIs for managing caution reason parameters"},{"name":"Currency Parameters","description":"APIs for managing currency parameters"},{"name":"Dividend Splits","description":"Split a warrant across multiple accounts"},{"name":"Notifications","description":"In-app notification inbox — list, summarise, mark as read, and delete notifications. Notifications are generated automatically by approval events, payment completions, email dispatches, and system alerts. For real-time push, connect to GET /api/v1/notifications/stream (SSE)."},{"name":"Principal Management","description":"APIs for managing principals"},{"name":"Certificates & Shareholder Lookup","description":"Certificate management (list / issue / get / disable) and §6 Shareholder lookup"},{"name":"Dematerialisation Workflow","description":"APIs for managing certificate dematerialisation workflow.\nWorkflow stages: DRAFT -> CALLOVER -> AUTHORISED -> ICU_APPROVED -> LODGED\n"},{"name":"Dividend Warrants","description":"Dividend warrant management"},{"name":"Certificate Transfer","description":"Submit, list, approve/reject, and batch-decide certificate transfer requests"}],"paths":{"/api/v1/users/{id}/roles":{"put":{"tags":["User Management"],"summary":"Set user roles (Overwrite)","description":"Idempotently replaces all previously assigned security roles for the target user profile with the incoming collection request data.","operationId":"setUserRoles","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRolesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"post":{"tags":["User Management"],"summary":"Add roles to user","description":"Appends new system role definitions to an existing user account index without clearing or altering their existing active roles.","operationId":"addRolesToUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRolesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/v1/users/{id}/permissions":{"put":{"tags":["User Management"],"summary":"Set direct user permissions (Overwrite)","description":"Overwrites all explicitly attached direct permission points assigned to a single profile context block.","operationId":"setDirectPermissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"post":{"tags":["User Management"],"summary":"Add direct permissions to user","description":"Appends specific direct permission flags onto the target user schema profile to craft exceptional access parameters above assigned role templates.","operationId":"addDirectPermissions","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/v1/users/edit/{id}":{"put":{"tags":["User Management"],"summary":"Edit foundational user attributes","description":"Performs partial modification and field merges on fundamental demographic details linked with a targeted user registration model.","operationId":"editUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EditUserRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/v1/super-admins/{userId}/roles":{"put":{"tags":["Super Admin Management"],"summary":"Update a user's roles","description":"Replaces the target user's full role set. Refuses to strip SUPER_ADMIN off the last remaining super admin.","operationId":"updateUserRoles","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignRolesRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/v1/roles/{id}/permissions":{"put":{"tags":["Role & Permission Management"],"summary":"Set permissions for role","description":"Idempotently overwrites and replaces all existing permission links associated with the specified role identifier with the incoming raw dataset collection.","operationId":"setPermissionsForRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoleResponse"}}}}}},"post":{"tags":["Role & Permission Management"],"summary":"Add permissions to role","description":"Appends specific permission entries to an existing role architecture without purging or affecting its current assignment state.","operationId":"addPermissionsToRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoleResponse"}}}}}},"delete":{"tags":["Role & Permission Management"],"summary":"Remove permissions from role","description":"Selectively dissects and unlinks explicitly identified permission authorities away from the target system role index matrix.","operationId":"removePermissionsFromRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignPermissionsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoleResponse"}}}}}}},"/api/v1/registers/{registerId}":{"put":{"tags":["Register Management"],"summary":"Update a register","description":"Update an existing register with the provided details","operationId":"updateRegister","parameters":[{"name":"registerId","in":"path","description":"Register ID (e.g., REG-0001)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRegisterResponse"}}}}}},"delete":{"tags":["Register Management"],"summary":"Delete a register","description":"Delete a register by Register ID","operationId":"deleteRegister","parameters":[{"name":"registerId","in":"path","description":"Register ID (e.g., REG-0001)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/principals/{principalId}":{"put":{"tags":["Principal Management"],"summary":"Update a principal","description":"Update an existing principal with the provided details","operationId":"updatePrincipal","parameters":[{"name":"principalId","in":"path","description":"PrincipalId (e.g., PRIN-0001)","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePrincipalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePrincipalResponse"}}}}}},"delete":{"tags":["Principal Management"],"summary":"Delete a principal","description":"Delete a principal by PrincipalId","operationId":"deletePrincipal","parameters":[{"name":"principalId","in":"path","description":"PrincipalId (e.g., PRIN-0001)","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/parameters/states/{id}":{"get":{"tags":["State Parameters"],"summary":"Get state by ID","operationId":"getStateById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseStateResponse"}}}}}},"put":{"tags":["State Parameters"],"summary":"Update a state","operationId":"updateState","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseStateResponse"}}}}}},"delete":{"tags":["State Parameters"],"summary":"Delete a state","operationId":"deleteState","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/parameters/lgas/{id}":{"get":{"tags":["LGA Parameters"],"summary":"Get LGA by ID","operationId":"getLgaById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLgaResponse"}}}}}},"put":{"tags":["LGA Parameters"],"summary":"Update an LGA","operationId":"updateLga","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LgaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLgaResponse"}}}}}},"delete":{"tags":["LGA Parameters"],"summary":"Delete an LGA","operationId":"deleteLga","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/parameters/document-types/{code}":{"get":{"tags":["Document Type Parameters"],"summary":"Get document type by code","operationId":"getDocumentTypeById","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDocumentTypeResponse"}}}}}},"put":{"tags":["Document Type Parameters"],"summary":"Update a document type","operationId":"updateDocumentType","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDocumentTypeResponse"}}}}}},"delete":{"tags":["Document Type Parameters"],"summary":"Delete a document type","operationId":"deleteDocumentType","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/parameters/currencies/{id}":{"get":{"tags":["Currency Parameters"],"summary":"Get currency by ID","operationId":"getCurrencyById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrencyResponse"}}}}}},"put":{"tags":["Currency Parameters"],"summary":"Update a currency","operationId":"updateCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrencyResponse"}}}}}},"delete":{"tags":["Currency Parameters"],"summary":"Delete a currency","operationId":"deleteCurrency","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/parameters/caution-reasons/{code}":{"get":{"tags":["Caution Reason Parameters"],"summary":"Get caution reason by ID","operationId":"getCautionReasonById","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCautionReasonResponse"}}}}}},"put":{"tags":["Caution Reason Parameters"],"summary":"Update a caution reason","operationId":"updateCautionReason","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CautionReasonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCautionReasonResponse"}}}}}},"delete":{"tags":["Caution Reason Parameters"],"summary":"Delete a caution reason","operationId":"deleteCautionReason","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/offers/ipo/{id}":{"put":{"tags":["Offer Setup — IPO"],"summary":"Update IPO offer","description":"Updates an IPO offer — only allowed while status is DRAFT","operationId":"updateOffer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateIpoOfferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOfferResponse"}}}}}}},"/api/v1/consolidations/{consolId}/reject":{"put":{"tags":["Account Consolidation"],"summary":"Reject a pending consolidation request","operationId":"reject","parameters":[{"name":"consolId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConsolidationRequestDTO"}}}}}}},"/api/v1/consolidations/{consolId}/authorise":{"put":{"tags":["Account Consolidation"],"summary":"Approve a pending consolidation request","description":"Single approval step. Requires the 'Authorise Consolidation' permission. The original submitter cannot approve their own request (maker-checker).","operationId":"approve","parameters":[{"name":"consolId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthoriseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConsolidationRequestDTO"}}}}}}},"/api/v1/agents/{id}":{"get":{"tags":["Agent Management"],"summary":"Get agent by ID","description":"Retrieve a specific agent by database ID","operationId":"getAgentById","parameters":[{"name":"id","in":"path","description":"Agent database ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAgentResponse"}}}}}},"put":{"tags":["Agent Management"],"summary":"Update an agent","description":"Update an existing agent with the provided details","operationId":"updateAgent","parameters":[{"name":"id","in":"path","description":"Agent ID","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAgentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAgentResponse"}}}}}},"delete":{"tags":["Agent Management"],"summary":"Delete an agent","description":"Delete an agent by ID","operationId":"deleteAgent","parameters":[{"name":"id","in":"path","description":"Agent ID","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/v1/admon/{admonId}/reject":{"put":{"tags":["Estate Administration (ADMON)"],"summary":"Reject a pending ADMON request","operationId":"reject_1","parameters":[{"name":"admonId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdmonRequestDTO"}}}}}}},"/api/v1/admon/{admonId}/authorise":{"put":{"tags":["Estate Administration (ADMON)"],"summary":"Authorise a pending ADMON request","operationId":"authorise","parameters":[{"name":"admonId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthoriseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdmonRequestDTO"}}}}}}},"/api/v1/admon/reversals/{reversalId}/reject":{"put":{"tags":["Estate Administration (ADMON)"],"summary":"Reject a pending ADMON reversal","operationId":"rejectReversal","parameters":[{"name":"reversalId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdmonReversalDTO"}}}}}}},"/api/v1/admon/reversals/{reversalId}/authorise":{"put":{"tags":["Estate Administration (ADMON)"],"summary":"Authorise a pending ADMON reversal","operationId":"authoriseReversal","parameters":[{"name":"reversalId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthoriseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdmonReversalDTO"}}}}}}},"/api/v1/accounts/kyc-changes/{changeId}/reject":{"put":{"tags":["KYC Changes"],"summary":"Reject a pending KYC change","operationId":"reject_2","parameters":[{"name":"changeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseKycChangeDTO"}}}}}}},"/api/v1/accounts/kyc-changes/{changeId}/authorise":{"put":{"tags":["KYC Changes"],"summary":"Authorise a pending KYC change","operationId":"authorise_1","parameters":[{"name":"changeId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthoriseRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseKycChangeDTO"}}}}}}},"/api/v1/transactions":{"get":{"tags":["Transaction Register"],"summary":"List transactions","description":"Paginated, filterable transaction register.","operationId":"list","parameters":[{"name":"batchRef","in":"query","required":false,"schema":{"type":"string"}},{"name":"chn","in":"query","required":false,"schema":{"type":"string"}},{"name":"register","in":"query","required":false,"schema":{"type":"string"}},{"name":"holderName","in":"query","required":false,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}},{"name":"transStatus","in":"query","required":false,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Records fetched successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTransactionRegister"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageTransactionRegister"}}}}}},"post":{"tags":["Transaction Register"],"summary":"Create transaction record","operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTransactionDto"}}},"required":true},"responses":{"201":{"description":"Record created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionRegister"}}}},"400":{"description":"Validation error or duplicate reference","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TransactionRegister"}}}}}}},"/api/v1/transactions/export/csv":{"post":{"tags":["Transaction Register"],"summary":"Export selected transactions to CSV","description":"Streams a CSV file containing the selected transaction records.","operationId":"exportToCsv","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CsvExportRequest"}}},"required":true},"responses":{"200":{"description":"CSV file downloaded"},"400":{"description":"No IDs provided"},"404":{"description":"No matching records found"}}}},"/api/v1/super-admins/{userId}":{"post":{"tags":["Super Admin Management"],"summary":"Make a user a super admin","description":"Grants the SUPER_ADMIN role to the target user. Idempotent.","operationId":"grant","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"delete":{"tags":["Super Admin Management"],"summary":"Remove super admin from a user","description":"Revokes the SUPER_ADMIN role. Refuses to remove the last remaining super admin.","operationId":"revoke","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}}},"/api/v1/roles":{"get":{"tags":["Role & Permission Management"],"summary":"Get all roles","description":"Fetches a comprehensive collection of all defined roles currently configured in the system.","operationId":"getAllRoles","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListRoleResponse"}}}}}},"post":{"tags":["Role & Permission Management"],"summary":"Create role","description":"Provisions a brand new role signature inside the system schema layer based on validation requirements.","operationId":"createRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRoleResponse"}}}}}}},"/api/v1/reports/run":{"post":{"tags":["Reports"],"summary":"Run report (synchronous)","description":"Executes a report. Auto-escalates to async if > 10,000 rows.","operationId":"runReport","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunReportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/reports/run/async":{"post":{"tags":["Reports"],"summary":"Run report (asynchronous)","description":"Queues report generation for large datasets","operationId":"runAsync","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RunReportRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAsyncRunResponse"}}}}}}},"/api/v1/registers":{"get":{"tags":["Register Management"],"summary":"Get all registers","description":"Retrieve all registers with pagination, filtering by principal/type/status, and search capabilities","operationId":"getAllRegisters","parameters":[{"name":"principalName","in":"query","description":"Filter by principal name","required":false,"schema":{"type":"string","default":""}},{"name":"registerType","in":"query","description":"Filter by register type (ORDINARY/PREFERENCE/FUND/BOND)","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"Filter by status (ACTIVE/INACTIVE/TRANSACTION_DISABLED)","required":false,"schema":{"type":"string","default":""}},{"name":"search","in":"query","description":"Search by register name, ID, or symbol","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number (0-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDirection","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageRegisterResponse"}}}}}},"post":{"tags":["Register Management"],"summary":"Create a new register","description":"Create a new register with the provided details","operationId":"createRegister","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRegisterResponse"}}}}}}},"/api/v1/principals":{"get":{"tags":["Principal Management"],"summary":"Get all principals","description":"Retrieve all principals with pagination, filtering, and search capabilities","operationId":"getAllPrincipals","parameters":[{"name":"status","in":"query","description":"Filter by status (ACTIVE/INACTIVE)","required":false,"schema":{"type":"string","default":""}},{"name":"billingCategory","in":"query","description":"Filter by billing category","required":false,"schema":{"type":"string","default":""}},{"name":"search","in":"query","description":"Search by principal name, ID, or email","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number (0-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDirection","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagePrincipalResponse"}}}}}},"post":{"tags":["Principal Management"],"summary":"Create a new principal","description":"Create a new principal with the provided details","operationId":"createPrincipal","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePrincipalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePrincipalResponse"}}}}}}},"/api/v1/permissions":{"get":{"tags":["Permission Management"],"summary":"Get all permissions","description":"Retrieve a flat list of all system permissions. Requires ADMIN role","operationId":"getAllPermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionResponse"}}}}}},"post":{"tags":["Permission Management"],"summary":"Create a new permission","description":"Create a new system permission. Requires ADMIN role and 'role:management' authority","operationId":"createPermission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePermissionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionResponse"}}}}}}},"/api/v1/password/reset-password":{"post":{"tags":["Password Management"],"summary":"Reset password","description":"Public endpoint that sets a new password using the token received via the forgot-password reset email link","operationId":"resetPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResetPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/password/forgot-password":{"post":{"tags":["Password Management"],"summary":"Forgot password","description":"Public endpoint that triggers a password reset email. Always returns 200 regardless of whether the email is registered, to avoid leaking account existence","operationId":"forgotPassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForgotPasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/password/change-password":{"post":{"tags":["Password Management"],"summary":"Change password","description":"Allows an authenticated user to change their own password. The user's email is resolved from the JWT principal — it does not need to be included in the request body","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePasswordRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/parameters/states":{"post":{"tags":["State Parameters"],"summary":"Create a new state","operationId":"createState","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseStateResponse"}}}}}}},"/api/v1/parameters/lgas":{"get":{"tags":["LGA Parameters"],"summary":"Get all LGAs","operationId":"getAllLgas","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListLgaResponse"}}}}}},"post":{"tags":["LGA Parameters"],"summary":"Create a new LGA","operationId":"createLga","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LgaRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLgaResponse"}}}}}}},"/api/v1/parameters/document-types":{"get":{"tags":["Document Type Parameters"],"summary":"Get all document types","operationId":"getAllDocumentTypes","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListDocumentTypeResponse"}}}}}},"post":{"tags":["Document Type Parameters"],"summary":"Create a new document type","operationId":"createDocumentType","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentTypeRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDocumentTypeResponse"}}}}}}},"/api/v1/parameters/currencies":{"get":{"tags":["Currency Parameters"],"summary":"Get all currencies with pagination","operationId":"getAllCurrencies","parameters":[{"name":"page","in":"query","description":"Page number (0-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"name"}},{"name":"sortDirection","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageCurrencyResponse"}}}}}},"post":{"tags":["Currency Parameters"],"summary":"Create a new currency","operationId":"createCurrency","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCurrencyResponse"}}}}}}},"/api/v1/parameters/caution-reasons":{"get":{"tags":["Caution Reason Parameters"],"summary":"Get all caution reasons with pagination","operationId":"getAllCautionReasons","parameters":[{"name":"page","in":"query","description":"Page number (0-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"reason"}},{"name":"sortDirection","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"asc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageCautionReasonResponse"}}}}}},"post":{"tags":["Caution Reason Parameters"],"summary":"Create a new caution reason","operationId":"createCautionReason","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CautionReasonRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCautionReasonResponse"}}}}}}},"/api/v1/otp/verify-otp":{"post":{"tags":["One-Time Password (OTP) Authentication"],"summary":"Verify transactional OTP and issue session token","description":"Public endpoint that validates an email-linked challenge token. Successful resolution yields an authenticated session envelope carrying user metadata alongside a bearer JWT.","operationId":"verifyOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VerifyOtpDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAuthResponse"}}}}}}},"/api/v1/otp/request-otp":{"post":{"tags":["One-Time Password (OTP) Authentication"],"summary":"Generate and dispatch transactional OTP","description":"Public endpoint that creates a time-sensitive authorization token based on a contextual system reason and triggers its delivery to the user's registered email channel.","operationId":"requestOtp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestOtpDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/offers/{offerType}/{offerId}/agents":{"get":{"tags":["Offer Setup — IPO"],"summary":"List agents for offer","description":"Lists agents assigned to an offer, optionally filtered by agent type. offerType must be 'ipo'.","operationId":"listAgents","parameters":[{"name":"offerType","in":"path","required":true,"schema":{"type":"string"}},{"name":"offerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"type","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListOfferAgentResponse"}}}}}},"post":{"tags":["Offer Setup — IPO"],"summary":"Assign agent to offer","description":"Associates an agent (bank/stockbroker/collecting agent) with an offer for commission tracking. offerType must be 'ipo'.","operationId":"assignAgent","parameters":[{"name":"offerType","in":"path","required":true,"schema":{"type":"string"}},{"name":"offerId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignAgentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOfferAgentResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations":{"get":{"tags":["Rights Issue Management"],"summary":"Get all rights issue declarations","description":"Retrieve all rights issue declarations with pagination and filtering","operationId":"getAllRightsIssues","parameters":[{"name":"registerId","in":"query","description":"Filter by register ID","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"Filter by status (DRAFT|PENDING_AUTH|AUTH_REJECTED|AUTHORIZED|PENDING_ICU|ICU_APPROVED|ICU_REJECTED|ALLOTTED|CLOSED))","required":false,"schema":{"type":"string","default":""}},{"name":"search","in":"query","description":"Search by offer name or reference","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number (1-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDir","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageRightsIssueResponse"}}}}}},"post":{"tags":["Rights Issue Management"],"summary":"Create rights issue declaration","description":"Create a new rights issue declaration (saved as DRAFT)","operationId":"createRightsIssue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRightsIssueRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRightsIssueResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/traded-rights":{"get":{"tags":["Rights Issue Management"],"summary":"Get traded rights","description":"List all traded rights entries lodged for a declaration","operationId":"getTradedRights","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"search","in":"query","description":"Search by name, CHN, or account","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number (1-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"lodgedAt"}},{"name":"sortDir","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTradedRightsResponse"}}}}}},"post":{"tags":["Rights Issue Management"],"summary":"Add traded rights","description":"Add a traded rights entry by selecting shareholder and entering volume","operationId":"createTradedRights","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTradedRightsRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTradedRightsResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/traded-rights/upload":{"post":{"tags":["Rights Issue Management"],"summary":"Add traded rights upload","description":"Upload traded rights files (CSV)","operationId":"createTradedRightsUpload","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"data":{"$ref":"#/components/schemas/TradedRightUploadRequest"},"approved":{"type":"string","format":"binary"}},"required":["data"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/submit":{"post":{"tags":["Rights Issue Management"],"summary":"Submit for approval","description":"Submit a computed declaration for authorization","operationId":"submitForApproval","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRightsIssueResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/reject":{"post":{"tags":["Rights Issue Management"],"summary":"Reject declaration","description":"Ops authorization - reject and return to submitter","operationId":"reject_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRightsIssueResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/lodge":{"post":{"tags":["Rights Issue Management"],"summary":"Process lodgment","description":"Lodge the allotted rights issue at CSCS/registrar. Transitions status from ALLOTTED → LODGED.","operationId":"processLodgment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LodgmentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLodgmentResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/icu-return":{"post":{"tags":["Rights Issue Management"],"summary":"ICU return","description":"Return the declaration to Operations","operationId":"icuReject","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRightsIssueResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/icu-approve":{"post":{"tags":["Rights Issue Management"],"summary":"ICU approve","description":"ICU final approval","operationId":"icuApprove","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRightsIssueResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/email-shareholders":{"post":{"tags":["Rights Issue Management"],"summary":"Send Emails to Shareholders","description":"Send email notifications to shareholders about their bonus entitlements","operationId":"notifyShareholders","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntitlementsWithTotalsResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/approve":{"post":{"tags":["Rights Issue Management"],"summary":"Approve declaration","description":"Ops authorization - approve and forward to ICU","operationId":"approve_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRightsIssueResponse"}}}}}}},"/api/v1/offers/rights-issue/declarations/{id}/allotment/process":{"post":{"tags":["Rights Issue Management"],"summary":"Process allotment","description":"Process uploaded allotment files, generate certificates and CSCS entries","operationId":"processAllotment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"approved":{"type":"string","format":"binary"},"disapproved":{"type":"string","format":"binary"},"invalid":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAllotmentProcessResponse"}}}}}}},"/api/v1/offers/ipo":{"get":{"tags":["Offer Setup — IPO"],"summary":"List IPO offers","description":"Paginated list of IPO offers, filterable by status/registerId/search","operationId":"listOffers","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","OPEN","CLOSED","ALLOTTED","CONCLUDED"]}},{"name":"registerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0,"minimum":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10,"minimum":1}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseOfferResponse"}}}}}},"post":{"tags":["Offer Setup — IPO"],"summary":"Create a new IPO offer","description":"Creates a new IPO offer in DRAFT status","operationId":"createOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateIpoOfferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOfferResponse"}}}}}}},"/api/v1/offers/ipo/{id}/open":{"post":{"tags":["Offer Setup — IPO"],"summary":"Open IPO offer","description":"Moves an IPO offer from DRAFT to OPEN","operationId":"openOffer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenOfferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseOfferResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations":{"get":{"tags":["Bonus Issue Management"],"summary":"Get all bonus issue declarations","description":"Retrieve all bonus issue declarations with pagination and filtering","operationId":"getAllBonusIssues","parameters":[{"name":"registerId","in":"query","description":"Filter by register ID","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"Filter by status (e.g., DRAFT, SUBMITTED, APPROVED, REJECTED)","required":false,"schema":{"type":"string"}},{"name":"search","in":"query","description":"Search by bonus name or reference","required":false,"schema":{"type":"string","default":""}},{"name":"page","in":"query","description":"Page number (1-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"sortBy","in":"query","description":"Sort field","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"sortDir","in":"query","description":"Sort direction (asc/desc)","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageBonusIssueResponse"}}}}}},"post":{"tags":["Bonus Issue Management"],"summary":"Create bonus issue declaration","description":"Create a new bonus issue declaration (saved as DRAFT)","operationId":"createBonusIssue","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateBonusIssueRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBonusIssueResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/submit":{"post":{"tags":["Bonus Issue Management"],"summary":"Submit for approval","description":"Submit a computed declaration for authorization","operationId":"submitForApproval_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBonusIssueResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/reject":{"post":{"tags":["Bonus Issue Management"],"summary":"Reject declaration","description":"Ops authorization - reject and return to submitter","operationId":"reject_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBonusIssueResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/icu-return":{"post":{"tags":["Bonus Issue Management"],"summary":"ICU return","description":"Return the declaration to Operations","operationId":"icuReject_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBonusIssueResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/icu-approve":{"post":{"tags":["Bonus Issue Management"],"summary":"ICU approve","description":"ICU approves the declaration, enabling allotment and reporting","operationId":"icuApprove_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBonusIssueResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/email-shareholders":{"post":{"tags":["Bonus Issue Management"],"summary":"Send Emails to Shareholders","description":"Send email notifications to shareholders about their bonus entitlements","operationId":"notifyShareholders_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntitlementsWithTotalsResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/approve":{"post":{"tags":["Bonus Issue Management"],"summary":"Approve declaration","description":"Ops authorization - approve and forward to ICU","operationId":"approve_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalDecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBonusIssueResponse"}}}}}}},"/api/v1/offers/bonus-issue/declarations/{id}/allotment/process":{"post":{"tags":["Bonus Issue Management"],"summary":"Process allotment","description":"Process the bonus allotment - create certificates and CSCS entries","operationId":"processAllotment_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEntitlementsWithTotalsResponse"}}}}}}},"/api/v1/notifications/{id}/read":{"post":{"tags":["Notifications"],"summary":"Mark notification as read (§7.3)","description":"Marks a single notification as read. Pass `performedBy` (email) as a query param — mirrors the submittedBy pattern.","operationId":"markRead","parameters":[{"name":"id","in":"path","description":"Notification UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"performedBy","in":"query","description":"Email of the authenticated user","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Marked as read","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotificationDto"}}}},"404":{"description":"NOTIFICATION_NOT_FOUND","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNotificationDto"}}}}}}},"/api/v1/notifications/read-all":{"post":{"tags":["Notifications"],"summary":"Mark all notifications as read (§7.4)","description":"Marks all unread notifications as read. Pass `performedBy` (email) in the request body to scope to the calling user. Optionally set `type` to mark only a specific category.","operationId":"markAllRead","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarkAllReadRequest"}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapStringObject"}}}}}}},"/api/v1/ipo/batches/{batchRef}/cscs-push":{"post":{"tags":["Initial Public Offer (IPO) Processing"],"summary":"Push batch to CSCS","description":"Generates the lodgement file for the requested format and marks the batch as LODGED. Stub — no live CSCS HTTP integration yet.","operationId":"cscsPush","parameters":[{"name":"batchRef","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CscsPushRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseIpoBatchSummary"}}}}}}},"/api/v1/ipo/batches/upload":{"post":{"tags":["Initial Public Offer (IPO) Processing"],"summary":"Upload subscription CSV batch","description":"Accepts a single subscription CSV file plus JSON metadata (offerId, offerName, register, batchDate). Each row is auto-classified into APPROVED / DISAPPROVED / INVALID based on data quality rules.","operationId":"uploadBatch","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"},"metadata":{"$ref":"#/components/schemas/BatchUploadMetadata"}},"required":["file","metadata"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseIpoBatchSummary"}}}}}}},"/api/v1/holders/signature":{"get":{"tags":["Holder Documents"],"summary":"Get signature on file for a holder","operationId":"getSignature","parameters":[{"name":"chn","in":"query","required":true,"schema":{"type":"string"}},{"name":"register","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSignatureResponse"}}}}}},"post":{"tags":["Holder Documents"],"summary":"Upload or update a holder's signature","description":"Creates a new signature record if none exists, or updates the existing one.","operationId":"saveSignature","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SaveSignatureRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSignatureResponse"}}}}}}},"/api/v1/holders/lookup-states":{"post":{"tags":["Shareholder Registry Management"],"summary":"Bulk address state resolution","description":"Processes a batch collection of unstructured physical addresses through an internal regional lookup layer to determine their corresponding states.","operationId":"lookupStates","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressLookupRequest"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AddressLookupResponse"}}}}}}}},"/api/v1/holders/kyc-documents":{"get":{"tags":["Holder Documents"],"summary":"List KYC documents for a holder","description":"Returns all KYC documents on file for the given CHN, optionally filtered by register.","operationId":"getKycDocuments","parameters":[{"name":"chn","in":"query","required":true,"schema":{"type":"string"}},{"name":"register","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListKycDocumentResponse"}}}}}},"post":{"tags":["Holder Documents"],"summary":"Upload KYC documents for a holder","description":"Accepts one or more KYC documents in a single request. Each document requires a documentType and documentName.","operationId":"addKycDocuments","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateKycDocumentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListKycDocumentResponse"}}}}}}},"/api/v1/enquiry/agents/{id}/mandates/single":{"post":{"tags":["Enquiry — Agents"],"summary":"Upload single mandate","description":"Upload a single mandate form for an agent. Fields: signatoryName, position, register, email, phone, uploadedBy. Files: signature (image, max 10 MB), document (PDF, max 10 MB).","operationId":"uploadSingleMandate","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"signatoryName","in":"query","description":"Name of the signatory","required":true,"schema":{"type":"string"}},{"name":"position","in":"query","description":"Position / title of the signatory","required":false,"schema":{"type":"string","default":""}},{"name":"register","in":"query","description":"Register symbol the mandate applies to","required":false,"schema":{"type":"string","default":""}},{"name":"email","in":"query","description":"Contact email of the signatory","required":false,"schema":{"type":"string","default":""}},{"name":"phone","in":"query","description":"Contact phone number","required":false,"schema":{"type":"string","default":""}},{"name":"uploadedBy","in":"query","description":"Email/username of the person uploading","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"signature":{"type":"string","format":"binary","description":"Signature image file (max 10 MB)"},"document":{"type":"string","format":"binary","description":"Mandate document PDF (max 10 MB)"}},"required":["document","signature"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMandateUploadResponse"}}}}}}},"/api/v1/enquiry/agents/{id}/mandates/bulk":{"post":{"tags":["Enquiry — Agents"],"summary":"Bulk mandate upload","description":"Upload multiple mandates at once. Provide the filled CSV template as 'csv' and a ZIP file containing all referenced signature and document files as 'zip'. File names in the CSV must match the ZIP entry names exactly. Returns a per-row result showing SUCCESS or FAILED with a reason.","operationId":"uploadBulkMandates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"uploadedBy","in":"query","description":"Email/username of the person uploading","required":false,"schema":{"type":"string","default":""}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"csv":{"type":"string","format":"binary","description":"Filled CSV file (use /mandates/bulk/template to download the template)"},"zip":{"type":"string","format":"binary","description":"ZIP file containing all signature and document files referenced in the CSV"}},"required":["csv","zip"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBulkMandateUploadResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/{id}/reject":{"post":{"tags":["Warrant Mark-Off"],"summary":"Reject mark-off","operationId":"reject_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMarkOffApprovalResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/{id}/approve":{"post":{"tags":["Warrant Mark-Off"],"summary":"Approve mark-off — advances to next tier","operationId":"approve_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMarkOffApprovalResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/manual":{"post":{"tags":["Warrant Mark-Off"],"summary":"Submit manual mark-off","operationId":"submitManual","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitMarkOffRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMarkOffApprovalResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/en-bloc":{"get":{"tags":["Warrant Mark-Off"],"summary":"Load unpaid warrants for en-bloc mark-off","operationId":"getEnBlocWarrants","parameters":[{"name":"registerId","in":"query","required":true,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","required":true,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageDividendWarrantResponse"}}}}}},"post":{"tags":["Warrant Mark-Off"],"summary":"Submit en-bloc mark-off","operationId":"submitEnBloc","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitEnBlocMarkOffRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseEnBlocMarkOffResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/bulk/submit":{"post":{"tags":["Warrant Mark-Off"],"summary":"Submit bulk mark-off records for approval (§11.13)","description":"Pass the matched rows returned by the preview endpoint along with submittedBy (email) and a reason. Only rows that resolve to an UNPAID warrant are submitted; others are silently skipped. Each submitted row creates a WarrantMarkOff record at PENDING_FIRST_APPROVAL and registers it in the central approval queue.","operationId":"submitBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkMarkOffSubmitRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBulkMarkOffSubmitResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/bulk/preview":{"post":{"tags":["Warrant Mark-Off"],"summary":"Preview bulk mark-off file (§11.12)","description":"Upload a CSV or Excel file with three columns — register_id, dividend_number, shareholder_account_number — and get back a row-by-row preview showing which rows are MATCHED (warrant found and UNPAID) and which are NO_MATCH. Unmatched rows will be skipped when submitted.","operationId":"previewBulk","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBulkMarkOffPreviewResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/batch/reject":{"post":{"tags":["Warrant Mark-Off"],"summary":"Batch reject mark-offs","operationId":"batchReject","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/warrant-markoff/batch/approve":{"post":{"tags":["Warrant Mark-Off"],"summary":"Batch approve mark-offs","operationId":"batchApprove","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/splits":{"post":{"tags":["Dividend Splits"],"summary":"Submit dividend split request","operationId":"submit","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitSplitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSplitResponse"}}}}}}},"/api/v1/dividend/splits/{id}/reject":{"post":{"tags":["Dividend Splits"],"summary":"Reject split","operationId":"reject_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSplitResponse"}}}}}}},"/api/v1/dividend/splits/{id}/approve":{"post":{"tags":["Dividend Splits"],"summary":"Approve split","operationId":"approve_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseSplitResponse"}}}}}}},"/api/v1/dividend/splits/batch/reject":{"post":{"tags":["Dividend Splits"],"summary":"Batch reject splits","operationId":"batchReject_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/splits/batch/approve":{"post":{"tags":["Dividend Splits"],"summary":"Batch approve splits","operationId":"batchApprove_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/repush-queue/{id}/repush":{"post":{"tags":["Re-Push Queue"],"summary":"Re-push a single failed payment","operationId":"repush","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNibssPushResponse"}}}}}}},"/api/v1/dividend/repush-queue/batch/repush":{"post":{"tags":["Re-Push Queue"],"summary":"Batch re-push failed payments","operationId":"batchRepush","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/payment-runs":{"get":{"tags":["Dividend Payment Runs"],"summary":"List payment runs","operationId":"list_1","parameters":[{"name":"registerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"gateway","in":"query","required":false,"schema":{"type":"string"}},{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagePaymentRunResponse"}}}}}},"post":{"tags":["Dividend Payment Runs"],"summary":"Initiate payment run","operationId":"initiate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiatePaymentRunRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePaymentRunResponse"}}}}}}},"/api/v1/dividend/payment-runs/{id}/repush":{"post":{"tags":["Dividend Payment Runs"],"summary":"Re-push failed records from payment run","operationId":"repush_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRepushQueuedResponse"}}}}}}},"/api/v1/dividend/payment-runs/{id}/approve":{"post":{"tags":["Dividend Payment Runs"],"summary":"ICU approve payment run","operationId":"approve_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePaymentRunResponse"}}}}}}},"/api/v1/dividend/mandate-payments/{id}/reject":{"post":{"tags":["Mandate Payments"],"summary":"Reject mandate payment","operationId":"reject_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMandateApprovalResponse"}}}}}}},"/api/v1/dividend/mandate-payments/{id}/push-to-nibss":{"post":{"tags":["Mandate Payments"],"summary":"Push approved mandate payment to NIBSS","operationId":"pushToNibss","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseNibssPushResponse"}}}}}}},"/api/v1/dividend/mandate-payments/{id}/approve":{"post":{"tags":["Mandate Payments"],"summary":"Approve mandate payment","operationId":"approve_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMandateApprovalResponse"}}}}}}},"/api/v1/dividend/mandate-payments/submit":{"post":{"tags":["Mandate Payments"],"summary":"Submit queue items for approval","operationId":"submit_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MandateSubmitRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMandateSubmitResponse"}}}}}}},"/api/v1/dividend/mandate-payments/load":{"post":{"tags":["Mandate Payments"],"summary":"[DEPRECATED] Seed mandate payment queue from warrants","description":"**Deprecated** — the queue is now seeded automatically on BANK KYC approval. This endpoint will be removed in a future release.","operationId":"loadQueue","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseLoadMandateQueueResponse"}}}}},"deprecated":true}},"/api/v1/dividend/mandate-payments/batch/reject":{"post":{"tags":["Mandate Payments"],"summary":"Batch reject mandate payments","operationId":"batchReject_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/mandate-payments/batch/push-to-nibss":{"post":{"tags":["Mandate Payments"],"summary":"Batch push mandate payments to NIBSS","operationId":"batchPushToNibss","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchNibssPushResponse"}}}}}}},"/api/v1/dividend/mandate-payments/batch/approve":{"post":{"tags":["Mandate Payments"],"summary":"Batch approve mandate payments","operationId":"batchApprove_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/declarations":{"get":{"tags":["Dividend Declarations"],"summary":"List declarations","operationId":"list_2","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"registerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"dividendType","in":"query","required":false,"schema":{"type":"string"}},{"name":"tier","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageDividendDeclarationResponse"}}}}}},"post":{"tags":["Dividend Declarations"],"summary":"Create declaration","operationId":"create_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDeclarationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDividendDeclarationResponse"}}}}}}},"/api/v1/dividend/declarations/{id}/submit":{"post":{"tags":["Dividend Declarations"],"summary":"Submit declaration for approval","operationId":"submit_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDividendDeclarationResponse"}}}}}}},"/api/v1/dividend/declarations/{id}/reject":{"post":{"tags":["Dividend Declarations"],"summary":"Reject declaration","operationId":"reject_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RejectionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDividendDeclarationResponse"}}}}}}},"/api/v1/dividend/declarations/{id}/recall":{"post":{"tags":["Dividend Declarations"],"summary":"Recall declaration back to DRAFT","operationId":"recall","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDividendDeclarationResponse"}}}}}}},"/api/v1/dividend/declarations/{id}/approve":{"post":{"tags":["Dividend Declarations"],"summary":"Approve declaration","operationId":"approve_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDividendDeclarationResponse"}}}}}}},"/api/v1/dividend/declarations/batch/reject":{"post":{"tags":["Dividend Declarations"],"summary":"Batch reject declarations","operationId":"batchReject_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/dividend/declarations/batch/approve":{"post":{"tags":["Dividend Declarations"],"summary":"Batch approve declarations","operationId":"batchApprove_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchOperationResponse"}}}}}}},"/api/v1/demat":{"get":{"tags":["Dematerialisation Workflow"],"summary":"List demat records","description":"Paginated records with optional filters.","operationId":"list_3","parameters":[{"name":"certNo","in":"query","required":false,"schema":{"type":"string"}},{"name":"register","in":"query","required":false,"schema":{"type":"string"}},{"name":"chn","in":"query","required":false,"schema":{"type":"string"}},{"name":"holderName","in":"query","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","required":false,"schema":{"type":"string","enum":["DRAFT","CALLOVER","AUTHORISED","ICU_APPROVED","LODGED","REJECTED"]}},{"name":"dateFrom","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"dateTo","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Records fetched successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDematRecord"}}}},"400":{"description":"Invalid request parameters","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageDematRecord"}}}}}},"post":{"tags":["Dematerialisation Workflow"],"summary":"Capture demat request","description":"Creates a new dematerialisation record. Initial status: DRAFT","operationId":"capture","parameters":[{"name":"X-User","in":"header","required":true,"schema":{"type":"string"}}],"requestBody":{"description":"Demat capture payload","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDamatRecordDto"},"example":{"register":"DANGCEM","chn":"CHN-00192834","holderName":"Adaeze Okonkwo","broker":"CSCS PLC","certificates":[{"certNo":"CERT-DANGCEM-00891","units":5000,"certDate":"2024-03-01"}],"shareholderIdRef":"doc-store-key-001","dematFormRef":"doc-store-key-002","scannedCertsRef":"doc-store-key-003"}}},"required":true},"responses":{"201":{"description":"Demat record created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DematRecord"}}}},"400":{"description":"Validation error or duplicate certificate","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DematRecord"}}}}}}},"/api/v1/cscs":{"post":{"tags":["CSCS Transaction & Settlement Management"],"summary":"Manually create a CSCS transaction","description":"Allows operators to insert a missing BUY or SELL transaction for an existing holder. Validates that the holder exists and that a SELL does not result in a negative balance.","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCscsTransactionDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCscsTransaction"}}}}}}},"/api/v1/cscs/cscs-transaction-history":{"post":{"tags":["CSCS Transaction & Settlement Management"],"operationId":"ingest","parameters":[{"name":"register","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/cscs-ingestion/upload":{"post":{"tags":["CSCS Data Ingestion Pipeline"],"summary":"Import CSCS master data archive","description":"Receives a multipart ZIP archive containing nested depository data fields, unzips the file tree hierarchy dynamically, and reconciles the embedded shareholder records.","operationId":"importCscsArchive","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/v1/consolidations":{"get":{"tags":["Account Consolidation"],"summary":"List consolidation requests with optional filters","description":"Use `source_accounts_unavailable=true` to return only consolidations where no source account IDs are recorded (e.g. legacy or corrupted records). Omit the parameter or pass `false` to return all records matching the other filters.","operationId":"list_4","parameters":[{"name":"status","in":"query","required":false,"schema":{"type":"string"}},{"name":"registerId","in":"query","required":false,"schema":{"type":"string"}},{"name":"initiatorId","in":"query","required":false,"schema":{"type":"string"}},{"name":"from","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"to","in":"query","required":false,"schema":{"type":"string","format":"date"}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"sourceAccountsUnavailable","in":"query","required":false,"schema":{"type":"boolean","default":false}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePagedResponseConsolidationRequestDTO"}}}}}},"post":{"tags":["Account Consolidation"],"summary":"Submit a new account consolidation request","operationId":"submit_3","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitConsolidationRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseConsolidationRequestDTO"}}}}}}},"/api/v1/consolidations/bulk-upload":{"post":{"tags":["Account Consolidation"],"summary":"Bulk upload consolidation requests from CSV. registerId is optional — if omitted, the register is derived from each row's destination account.","operationId":"bulkUpload","parameters":[{"name":"registerId","in":"query","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBulkUploadResultDTO"}}}}}}},"/api/v1/consolidations/batch-reject":{"post":{"tags":["Account Consolidation"],"summary":"Batch reject consolidation requests","operationId":"batchReject_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchActionResponseConsolidationRequestDTO"}}}}}}},"/api/v1/consolidations/batch-authorise":{"post":{"tags":["Account Consolidation"],"summary":"Batch approve consolidation requests","operationId":"batchApprove_4","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchActionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseBatchActionResponseConsolidationRequestDTO"}}}}}}},"/api/v1/certificates":{"get":{"tags":["Certificates & Shareholder Lookup"],"summary":"List certificates","description":"Paginated, multi-filter list of certificates. Filter by registerId, shareholderId, accountNumber, status, certNumber, or date range.","operationId":"listCertificates","parameters":[{"name":"registerId","in":"query","description":"Filter by register ID","required":false,"schema":{"type":"string","default":""}},{"name":"shareholderId","in":"query","description":"Filter by shareholder ID","required":false,"schema":{"type":"string","default":""}},{"name":"accountNumber","in":"query","description":"Filter by account number (partial match)","required":false,"schema":{"type":"string","default":""}},{"name":"status","in":"query","description":"ACTIVE | DISABLED | LODGED | SPLIT | TRANSFERRED","required":false,"schema":{"type":"string","default":""}},{"name":"certNumber","in":"query","description":"Partial match on certificate number","required":false,"schema":{"type":"string","default":""}},{"name":"fromDate","in":"query","description":"Issue date from (YYYY-MM-DD, inclusive)","required":false,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","description":"Issue date to (YYYY-MM-DD, inclusive)","required":false,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"Page number (1-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","description":"Items per page","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageCertificateResponse"}}}}}},"post":{"tags":["Certificates & Shareholder Lookup"],"summary":"Issue certificate","description":"Issue a new share certificate for a shareholder. The certNumber must be unique within the register.","operationId":"issueCertificate","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IssueCertificateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCertificateResponse"}}}}}}},"/api/v1/certificates/transfer":{"get":{"tags":["Certificate Transfer"],"summary":"List transfer requests (§9.2)","description":"Paginated list of transfer requests, filterable by status, register, date range, and free-text search.","operationId":"listTransferRequests","parameters":[{"name":"status","in":"query","description":"PENDING | APPROVED | REJECTED","required":false,"schema":{"type":"string","default":""}},{"name":"registerId","in":"query","description":"Filter by register ID","required":false,"schema":{"type":"string","default":""}},{"name":"search","in":"query","description":"Partial match on cert number, account, or holder name","required":false,"schema":{"type":"string","default":""}},{"name":"fromDate","in":"query","description":"From submission date (YYYY-MM-DD)","required":false,"schema":{"type":"string","format":"date"}},{"name":"toDate","in":"query","description":"To submission date (YYYY-MM-DD)","required":false,"schema":{"type":"string","format":"date"}},{"name":"page","in":"query","description":"Page number (1-indexed)","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageTransferRequestResponse"}}}}}},"post":{"tags":["Certificate Transfer"],"summary":"Submit transfer request (§9.1)","description":"Transfer ownership of a certificate (or portion) from one shareholder to another. An Instrument of Transfer reference and stamp duty are required. Creates a PENDING approval item for dual-control authorisation.","operationId":"submitTransferRequest","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SubmitTransferRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferRequestResponse"}}}}}}},"/api/v1/certificates/transfer/{approvalId}/reject":{"post":{"tags":["Certificate Transfer"],"summary":"Reject transfer request (§9.3)","description":"Reject a PENDING transfer request. A comment is required.","operationId":"rejectTransfer","parameters":[{"name":"approvalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferRequestResponse"}}}}}}},"/api/v1/certificates/transfer/{approvalId}/approve":{"post":{"tags":["Certificate Transfer"],"summary":"Approve transfer request (§9.3)","description":"Authorise a PENDING transfer. On approval: source cert → TRANSFERRED, new ACTIVE cert issued to transferee. If partial, a residual cert is created for the balance.","operationId":"approveTransfer","parameters":[{"name":"approvalId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecisionRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTransferRequestResponse"}}}}}}},"/api/v1/certificates/transfer/batch-decision":{"post":{"tags":["Certificate Transfer"],"summary":"Batch approve / reject transfer reques
[...]
